mlruns/
configs/1d
tsadar/__pycache__
tsadar/core/__pycache__
tsadar/core/modules/__pycache__
tsadar/core/modules/distribution_functions/__pycache__
tsadar/core/modules/physics/__pycache__
tsadar/core/physics/__pycache__
tsadar/forward/__pycache__
tsadar/inverse/__pycache__
tsadar/utils/__pycache__
tsadar/utils/data_handling/__pycache__
tsadar/utils/plotting/__pycache__
tsadar/utils/process/__pycache__
tsadar/external/data