data:
  background:
    slice: 10002
    type: Fit
  lineouts:
        type:
            ps
        start: 500
        end: 1000
        skip: 50
  shotnum: 101675

machine: gpu

mlflow:
  experiment: test
  run: run

other:
  PhysParams:
    widIRF:
      ang_FWHM_ele: 1.0
      spect_FWHM_ele: 0.9
      spect_stddev_ele: 0.1
      spect_stddev_ion: 0.001
  calc_sigmas: false
  extraoptions:
    fit_EPWb: true
    fit_EPWr: true
    fit_IAW: true
    load_ele_spec: true
    load_ion_spec: true
  refit: false
  refit_thresh: 20.0

parameters:
  electron:
    Te:
      active: True
      lb: 0.01
      ub: 2.0
      val: 1.0
    fe:
      active: True
      dim: 1
      nvx: 320
      params:
        m:
          lb: 2.0
          ub: 5.0
          val: 2.5
          matte: True
          intens: 2.5
      type: dlm
    ne:
      active: True
      lb: 0.03
      ub: 2.0
      val: 1.0
  general:
    Te_gradient:
      active: false
      lb: 0.0
      num_grad_points: 1
      ub: 10.0
      val: 0.0
    Va:
      active: false
      angle: 0.0
      lb: -20.5
      ub: 20.5
      val: 0.0
    amp1:
      active: false
      lb: 0.01
      ub: 3.75
      val: 1.0
    amp2:
      active: false
      lb: 0.01
      ub: 3.75
      val: 1.0
    amp3:
      active: false
      lb: 0.01
      ub: 3.75
      val: 1.0
    lam:
      active: True
      lb: 523.0
      ub: 527.0
      val: 526.5
    ne_gradient:
      active: false
      lb: 0.0
      num_grad_points: 1
      ub: 15.0
      val: 0.0
    ud:
      active: false
      angle: 0.0
      lb: -20.0
      ub: 20.0
      val: 0.0
    
  ion-1:
    A:
      active: false
      val: 40.0
    Ti:
      active: false
      lb: 0.01
      same: false
      ub: 3.0
      val: 0.2
    Z:
      active: false
      lb: 0.5
      ub: 1.0
      val: 16.0
    fract:
      active: false
      val: 0.05
  ion-2:
    A:
      active: false
      val: 1.0
    Ti:
      active: false
      lb: 0.01
      same: false
      ub: 3.0
      val: 0.2
    Z:
      active: false
      lb: 0.5
      ub: 1.5
      val: 1.0
    fract:
      active: false
      val: 0.95