# This is a basic workflow to help you get started with Actions

name: cpu-tests

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test-tsadar-cpu:
  

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.11
          mamba-version: "*"
          channels: conda-forge,defaults
          channel-priority: true
          activate-environment: tsadar-cpu
          environment-file: env.yml
      - shell: bash -el {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show
          printenv | sort
      # - shell: bash -el {0}
        # run: mamba env create -f env.yml
    # steps:
    # - uses: actions/checkout@v3
    # - name: Set up Python 3.11
    #   uses: actions/setup-python@v2
    #   with:
    #     python-version: 3.11

    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     python -m pip install --upgrade black
    #     python -m pip install --upgrade pytest wheel
    #     python -m pip install --upgrade -r requirements.txt

      - name: Test with pytest
        run: |
          CPU_ONLY=True pytest tests/
